<article class="margintop">
  <div class="col-md-4 js-edit-tsk">
    <form name="new_task" action="/task" class="form-group col-md-7" method="post" accept-charset="utf-8"
          onsubmit="return validateForm()">
      <article class="col-md-12">
        Title:&nbsp;<input type="text" class="form-control" name="title" value="{{task.title}}" /></br>
        Description:&nbsp;<input type="text" class="form-control" name="description" value="{{task.description}}" /></br>
        Author:&nbsp;<input type="text" class="form-control" name="author" value={% ifequal task.author none %} {{user.email}} {% else %} {{task.author}} {% endifequal %} /></br>
      </article>
      <article class="col-md-6 form-group">
        <p>Date:&nbsp;<input name="date" value="{{task.date}}" type="text" class="input-group date form-control" placeholder="Pick the due date!"><i class="glyphicon glyphicon-calendar"></i></p><br>
      </article>
      <input type="hidden" name="done" value="{{task.done}}" />
      
      <button type="button" class="btn btn-success btn-xs update-btn">Save</button>
    </form>
  </div>
</article>