<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TODOListHack</title>
  <meta name="description" content="Todo List Hack" />
  <link rel="stylesheet" media="screen" type="text/css" href="/assets/css/style.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/assets/css/datepicker.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/assets/css/bootstrap.min.css" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />
</head>
