<article id="task_{{task.key}}" class="task marginbottom">

    <span class="js-author">by {{task.author}}</span> <br/>
    <span class="js-title">title: {{task.title}}</span> <br/>
    <span class="js-description">task: {{task.description}}</span> <br/>

  <nav>
    <button type="button" class="btn btn-success btn-xs delete-btn">Delete</button>
    <button type="button" class="btn btn-success btn-xs edit-btn" >Edit</button>
    <button type="button" class="btn btn-success btn-xs done-btn glyphicon glyphicon-ok" > </button>
  </nav>
  <article class="row">
    {% include 'edit_task.html' %}
  </article>
  <hr>
</article>