 <form name="profile" action="/profile" method="post" accept-charset="utf-8"
          onsubmit="return validateForm()">
      * First Name:&nbsp;<input type="text" name="first_name" value="{{profile.first_name}}" /></br>
      * Last Name:&nbsp;<input type="text" name="last_name" value="{{profile.last_name}}" /></br>
      * E-Mail:&nbsp;<input type="text" name="email" value={% ifequal profile.email none %} {{user.email}} {% else %} {{profile.email}} {% endifequal %} /></br>
      </select>
      <input type = "submit" value ="Save">
    </form>