 <form name="profile" action="/profile" method="post" accept-charset="utf-8"
          onsubmit="return validateForm()">
      * User Name:&nbsp;<input type="text" name="user_name" value={% ifequal profile.user_name none %} "" {% else %} {{profile.user_name}} {% endifequal %} /></br>
      * First Name:&nbsp;<input type="text" name="first_name" value="{{profile.first_name}}" /></br>
      * Last Name:&nbsp;<input type="text" name="last_name" value="{{profile.last_name}}" /></br>
      * E-Mail:&nbsp;<input type="text" name="email" value={% ifequal profile.email none %} {{user.email}} {% else %} {{profile.email}} {% endifequal %} /></br>
      * Time Zone:&nbsp;<select name="time_zone">
            <option value="America/Los_Angeles" selected="">America/Los_Angeles</option>
        {% for tz in time_zones %}
            <option value="{{ tz }}"{% if tz == profile.time_zone %} selected="selected"{% endif %}>{{ tz }}</option>
        {% endfor %}
      </select>
      <input type = "submit" value ="Save">
    </form>